<!DOCTYPE html>
<html>

<head>
    <title>Qrued Resources - Learn Tech for Free</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>

        <nav>
            <ul>
                <li><a href="#intro">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>

    <section id="intro" class="hero">
        <div class="hero-content">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            </div>
            <h1>Qrued Resources</h1>
            <h2>Educate, Innovate, Elevate</h2>
            <p>Join our platform and explore a wide range of tech-related lectures.</p>
            <a href="{{url_for('register')}}" class="btn">Get Started</a>
        </div>
    </section>

    <section id="features" class="features">
        <div class="feature">
            <img src="{{ url_for('static', filename='/images/learn.png')}}" alt="Learn Image">
            <h3>Learn</h3>
            <p>Access a vast library of tech lectures covering various topics.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='/images/create.png')}}" alt="Create Image">
            <h3>Create</h3>
            <p>Share your knowledge and create your own tech lectures.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='/images/collaborate.png')}}" alt="Collaborate Image">
            <h3>Collaborate</h3>
            <p>Connect with like-minded individuals and collaborate on learning.</p>
        </div>
    </section>

    <section id="about">
        <div class="about-content">
            <h2>About Qrued Resources</h2>
            <p>Qrued Resources is more than just an online educational platform, it is a transformative journey that
                empowers individuals through free tech lectures and embraces the rich heritage of Africa. Our mission is
                to break down barriers and make high-quality educational resources accessible to everyone, regardless of
                their background or financial constraints..</p>

            <p>Whether you are a learner hungry for knowledge or a creator eager to share your expertise, Qrued
                Resources offers a diverse range of lectures that cater to your interests. We believe that learning
                should know no boundaries, and our platform reflects that by providing valuable educational resources
                across various domains.
            </p>

            <p>At Qrued Resources, we are driven by the belief in the power of education to transform lives and unlock
                untapped potential. By intertwining technology and the celebration of Africa's cultural wealth, we have
                created a unique space where learners, professionals, and enthusiasts alike can thrive. Our curated
                curriculum not only expands your knowledge but also highlights the contributions and success stories
                from Africa's vibrant tech ecosystem.</p>

            <p>We invite you to join our community and embark on a journey of continuous learning and growth. Explore
                the world of knowledge, gain valuable insights, and connect with like-minded individuals who share your
                passion for technology and the rich heritage of Africa. With Qrued Resources, education becomes an
                empowering force that transcends boundaries and propels you towards a future of endless possibilities.
            </p>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Qrued Resources. All rights reserved.</p>
    </footer>
</body>

</html>