<!DOCTYPE html>
<html>

<head>
    <title>Qrued Resources - Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
        </nav>
    </header>

    <section class="login-form">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <h2>Log In</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            <li class="flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <!-- Username field -->
            {{ form.username }}

            <!-- Password field -->
            {{ form.password }}

            <!-- Submit button -->
            <div class="sub_btn">{{ form.submit }}</div>
        </form>

        <!--Link to the Register page-->
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </section>

    <footer>
        <p>&copy; 2023 Qrued Resources. All rights reserved.</p>
    </footer>
</body>

</html>